<% @opportunities.each do |opportunity| %>
  <%= form_for @opportunity do |f| %>
    <%= opportunity.organization %><div>
    </div>
    <%= f.hidden_field :organization_name, value: opportunity.organization %>
    <div>

    </div>
    <%= opportunity.title %>
    <div>

    </div>
    <%= opportunity.formatted_description %>

    <%= f.submit %>
  <% end %>
<% end %>
