<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class='tab-bar'>
        <section class='left-small'>
          <a class="left-off-canvas-toggle menu-icon" href="#" ><span></span>Menu</a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">Together We Help</h1>
        </section>
      </nav>

    <!-- Off Canvas Menu -->
      <aside class="left-off-canvas-menu">
        <ul class='off-canvas-list'>
          <li><label>Begin Here</label></li>
          <li><a href="#">Find Events</a></li>
          <li><a href="#">All Events</a></li>
        </ul>
      </aside>

      <section class="main-section">
        <body>
          <%= yield %>
          <%= javascript_include_tag "application" %>
        </body>
      </section>

    <a class="exit-off-canvas"></a>

    </div>
  </div>

</html>
