<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Together-we-Help" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


  <!-- LARGE SCREEN TOP BAR MENU -->
  <section class="navigation-section show-for-large-up">
      <div class="row">
          <div class="large-12 columns">

              <!-- TOP BAR INITIALIZATION -->
              <nav class="top-bar" data-topbar>
                  <ul class="title-area">
                      <li class="name">
                          <h1></h1>
                      </li>
                  </ul> <!-- END UL.TITLE-AREA -->

                  <!-- TOP BAR MENU ELEMENTS -->
                  <section class="top-bar-section">
                      <ul class="left">
                          <li class="active"><%= link_to 'Home', root_path %></li>
                          <li class="has-dropdown">
                        <% if current_user %>
                              <%= link_to 'Find Opportunities', new_opportunity_path %>
                              <ul class="dropdown">
                                  <li><%= link_to 'My Pending Opportunities', opportunities_path , id: 'pending'%></li>
                                  <li><%= link_to 'My Confirmed Opportunties', opportunities_path %></li>
                              </ul>
                          </li>
                          <li class="has-dropdown">
                              <a href="page.html">Friends</a>
                              <ul class="dropdown">
                                  <li><%= link_to 'Find Friends', users_path %></li>
                                  <li><a href="page.html">Pending Opportunities</a></li>
                                  <li><a href="sidebar-left.html">Confirmed Opportunities</a></li>
                              </ul>
                          </li>
                          <% else %>
                          <% end %>
                      </ul>
                      <% if current_user %>
                      <div class="row right welcome-message">
                        <span class="alert round radius label friend-badge">1</span>
                          <%= image_tag('friendrequest.png', id: 'friend-icon') %>
                          <%= image_tag(current_user.image, id: 'gravatar') %>
                            Welcome, <%= current_user.first_name  %>
                      </div>
                      <% end %>
                      <ul class='right'>
                        <% if current_user %>
                          <%= link_to 'Log Out', logout_path, class: 'button' %>
                        <% else %>
                          <li><%= link_to 'Facebook Log In', login_path, class: 'button' %></li>
                        <% end %>
                      </ul>
                  </section> <!-- END SECTION.TOP-BAR-SECTION -->
              </nav> <!-- END NAV.TOP-BAR -->

          </div> <!-- END 12 COLUMNS -->
      </div> <!-- END ROW -->
  </section> <!-- END SECTION.NAVIGATION-SECTION -->


  <!-- HEADER SECTION -->
  <header>
      <div class="row">
          <div class="small-12 medium-12 large-12 columns">
              <div class="logo">
                  <h1>Together We Help</h1>
                  <div class="small-12 medium-7 large-7 columns">
                      <h4>Our Philosophy</h4>
                      <p>Collaboration is the key to getting people involved. Most things are more enjoyable when your friends are included. Get started today and start making a difference.</p>
                  </div>
              </div> <!-- END DIV.LOGO -->
          </div> <!-- END 12 COLUMNS -->
      </div> <!-- END ROW -->
  </header> <!-- END HEADER -->


    <!-- OFF CANVAS SECTIONS WRAPPING THE MAIN CONTENT -->
  <div class="off-canvas-wrap">
      <div class="inner-wrap">

          <!-- OFF CANVAS MENU BAR -->
          <nav class="tab-bar hide-for-large-up">

              <section class="left-small">
                  <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
              </section>

              <section class="right tab-bar-section">
                  <h1 class="title">Menu</h1>
              </section>

          </nav> <!-- END NAV.TAB-BAR HIDE-FOR-LARGE-UP -->

          <!-- OFF CANVAS MENU -->
          <aside class="left-off-canvas-menu">
              <ul class="off-canvas-list">
                  <li><label>Navigation</label></li>
                  <li><a href="index.html">Home</a></li>
              </ul>
              <ul class="off-canvas-list">
                  <li class="has-dropdown"><a href="blog.html">Blog</a>
                      <ul class="off-canvas-list">
                          <li><a href="blog.html">Archive</a></li>
                          <li><a href="post.html">Single</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="off-canvas-list">
                  <li class="has-dropdown"><a href="page.html">Page</a>
                      <ul class="off-canvas-list">
                          <li><a href="page.html">Full-width</a></li>
                          <li><a href="sidebar-left.html">Left Sidebar</a></li>
                          <li><a href="sidebar-right.html">Right Sidebar</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="off-canvas-list">
                  <li><a href="portfolio.html">Portfolio</a></li>
              </ul>
          </aside>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: [name, :flash, :hide] %>
        <% end %>
        <%= yield %>

        <%= javascript_include_tag "application" %>



    <!-- CLOSE THE OFF-CANVAS MENU -->
      <a class="exit-off-canvas"></a>

      </div>
  </div> <!-- END OFF CANVAS -->

  <!-- COPYRIGHT SECTION -->
    <section class="full-width copyright-section">
        <div class="row">
            <div class="small-12 columns">
                <p>&copy; 2014. Built by <%= link_to 'Tan Doan', 'http://github.com/tdoan87' %>. A Turing Student</p>
            </div> <!-- END 12 COLUMNS -->
        </div> <!-- END ROW -->
    </section> <!-- END SECTION.FULL-WIDTH COPYRIGHT-SECTION -->
  </body>
</html>
